This is the show page <br  />

<div>
  <h3>Name:</h3><%= @user.name %>
  <h3>Username:</h3><%= @user.username %>
  <h3>Email:</h3><%= @user.email %>
</div><br  />


<table>
    
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="2"></th>
      </tr>

  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post_path %></td>
        <td><%= link_to 'Edit', edit_post_path %></td>
        <td><%= link_to 'Delete', post, method: :destroy  %></td>
        <td> #number of comments </td>
      </tr>
    <% end %>
  <% end %>

</table>

  
<%= link_to 'logout', user_path(@user) , method: :delete %>