<table>
		
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th colspan="2"></th>
		</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.content %></td>
			<td><%= link_to 'Show', post_path(post) %></td>
			<td><%= link_to 'Edit' %></td>
			<td><%= link_to 'Delete', post_path(post), method: :delete  %></td>
		</tr>
	<% end %>

</table>